
  @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


body{
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    align-items: center;
    /* display: flex; */
}

*{
    margin:0;
    padding:0;
    
}

.container{
    max-width: 360px;
    margin: 0 auto;
}

.card{
    background-color: hsl(0, 0%, 100%);
    border-radius: 18px;
    padding: 18px;
}

.card img{
    width: 100%; 
    border-radius: 12px;
}